// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shopbk{
background-color:#FFFFCC;
height:100px;
width:1000px;
}
/*
#line{
background-color:#9999FF;
height:1px;
width:1000px;
}
*/
.shopInfoPos{
float: left;
}
.floatLeft{
float: left;
}
.floatRight{
float: right;
}